*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
  background-image: linear-gradient(45deg, #14ebeb 0%, #23eb11 100%);
  overflow-x: hidden;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 200px;
  margin: 20px;
  color: #fff;
  text-align: center;
  background-color: #992cc4;
  border-radius: 15px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(500%);
  transition: transform 0.6s ease;
}
.section:ntn-of-type(even) {
  transform: translateX(-500%);
}
.section.show {
  transform: translateX(0);
}
